body 
{
  background-color: red;
}

h1 
{
  color: white;
  text-align: center;
}
img 
{
	width:100%;
	
}
#content
{
	width:80%;
	margin:auto;
	text-align:center;
}
#style
{
	background-color:blue;
	color:white;
	padding:25px;"
}
p
{
	text-align:center;
}
button1
{
	width:100%;
	background-color:yellow;
}

